extends layout

block content
  form.form(action="/register" method="POST")
    h1 Register
    label.form__label(for="name") Name
    input.form__input(type="text" name="name" value=`${name || ''}` required)
    label.form__label(for="email") Email
    input.form__input(type="email" name="email" value=`${email || ''}` required)
    label.form__label(for="password") Password
    input.form__input(type="password" name="password" value=`${password || ''}` required)
    label.form__label(for="password-confirm") Confirm Password
    input.form__input(type="password" name="password-confirm" value=`${password-confirm || ''}` required)
    input.form__submit(type="submit" value="Register ➡️")